<%- include('../partials/header-pages'); -%>
<%- include('../partials/nav-pages'); -%>


<div class="main">
  <%- include('../partials/messages');%>
  <div class="block">
  <div class="login-container">
      <form action="/auth/login" method="post" autocomplete="off" id="loginForm" class="login-left">
        <link rel="stylesheet" href="../stylesheets/udemyday8.css">  
          <div class="login-left-title">
              <h2>Login</h2>
              <hr>
          </div>
          <div class="form-control">
            <input type="text" id="username" name="username" placeholder="" required>
            <label for="username">Username:</label>
          </div>
        
          <div class="form-control">
            <input type="password" id="password" name="password" placeholder="" required>
            <label for="password">Password:</label>
          </div>

          <div class="form-check">
            <label class="form-check-label" for="rememberme">Remember me:</label>
            <input type="checkbox" class="form-check-input" id="rememberme" name="remember" value="1">
          </div>
          
          <div class="button-container">
              <button class="button" type="submit">Submit</button>
          </div>
          

          <div class="register">
            <span class="bg-light">You don't have an account already?</span>
            <p class="text-center">
              <a class="btn btn-block btn-secondary" href="/auth/register">Register</a>
            </p>
          </div>

          <div><a href="/auth/resetpassword">Forgot Password?</a></div>
      </form>
      <div class="login-right">
          <img src="../images/auth_cover.jpeg" alt="">
      </div>
  </div>
  </div>



</div>

<%- include('../partials/footer-pages') %>
<%- include('../partials/bot-pages') %>


<script src="../javascripts/udemyday8.js" defer></script>


<%- include('../partials/scripts') %>

<!--<script src="../javascripts/contact.js" async defer></script>-->
<script src="../javascripts/ripple.js" async defer></script>

</body>
</html>
