<%- include('../partials/header-pages'); -%>
<%- include('../partials/nav-pages'); -%>
<div class="main">
  <div class="block">
  <div class="login-container">
      <form action="/auth/register" method="post" autocomplete="off" id="loginForm" class="login-left">
          <div class="login-left-title">
              <h2>Registration</h2>
              <hr>
          </div>

          <label for="username">Username:</label>
          <input name="username"
                    class="login-inputs form-control <%=locals.errors && errors.includes('username') ? 'is-invalid' : ''%>"
                    placeholder="Username (min 6 characters)" id="username" type="text"
                    value="<%=locals.data && data.username ? data.username : '' %>">

          <label for="email">Email Address:</label>
          <input name="email"
                    id="email"
                    class="login-inputs form-control <%=locals.errors && errors.includes('email') ? 'is-invalid' : ''%>"
                    placeholder="Email address" value="<%=locals.data && data.email ? data.email : '' %>">

          <label for="password">Password:</label>
          <input class="login-inputs form-control <%=locals.errors && errors.includes('password') ? 'is-invalid' : ''%>"
                    name="password" id="password" placeholder="Create password (min 8 characters)" type="password"
                    autocomplete="new-password" value="<%=locals.data && data.password ? data.password : '' %>">

          <label for="password">Confirm Password:</label>
          <input class="login-inputs form-control <%=locals.errors && errors.includes('password') ? 'is-invalid' : ''%>"
                    name="confirmPassword" placeholder="Confirm password" type="password"
                    value="<%=locals.data && data.confirmPassword ? data.confirmPassword : '' %>">

          <div class="button-container">
              <button class="button" type="submit">Submit</button>
          </div>

          <div class="login">
            <span class="bg-light">You have an account already?</span>
            <p class="text-center">
              <a class="btn btn-block btn-secondary" href="/auth/login">Login</a>
            </p>
          </div>

      </form>
      <div class="login-right">
          <img src="../images/auth_cover.jpeg" alt="">
      </div>
  </div>
  </div>



</div>

  <%- include('../partials/footer-pages'); -%>