<%- include('../partials/header-pages'); -%>
<%- include('../partials/nav-pages'); -%>
<%- include('../partials/messages');%>

<main>
    <div class="login-container">
      

      <div>
        <form action="/auth/resetpassword" autocomplete="off" method="POST">

        <h4 class="card-title mt-3 text-center">Reset password</h4>
        <p class="text-center">Please enter your email address.</p>

        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
          </div>
          <input name="email"
            class="login-inputs <%=locals.errors && errors.includes('email') ? 'is-invalid' : ''%>"
            placeholder="E-Mail" type="text" value="<%=locals.data && data.email ? data.email : '' %>">
        </div> <!-- form-group// -->

        <div class="form-group">
          <button type="submit" class="button"> Reset password</button>
        </div> <!-- form-group// -->
      </form>

      </div>
      
      <div class="login-right">
        <img src="../images/auth_cover.jpeg" alt="">
      </div>
          
    </div>
  </main>


  <%- include('../partials/footer-pages') %>

  <script src="../javascripts/searchBar.js" async defer></script>
  <!--<script src="../javascripts/contact.js" async defer></script>-->
  <script src="../javascripts/ripple.js" async defer></script>
  </body>
  </html>
  