<%- include('../partials/header-pages') %>
<%- include('../partials/nav-pages') %>
<link rel="stylesheet" href="../stylesheets/udemyday5.css">

<div class="main">
<div class="block">
<div class="about-container">


    <h1 style="color:white">About Us</h1>
    <div class="bg"></div> <!-- Background for the blur effect -->
    <div class="loading-text" style="display: none;">0%</div> <!-- Text that shows loading percentage -->


    <div class="content-effect-container">
    
    <div class="about-content">
        <p>Welcome to your ultimate destination for discovering and sharing books. Our mission is to promote reading.</p>
        <p>Our website features:</p>
        <ul>
            <li>A diverse collection of genres.</li>
            <li>User-friendly search and filter options to easily find the perfect books</li>
            <li>Opportunities for users to add favorites.</li>
            <li>A selection of our favorite books.</li>
        </ul>
        <p>Join us on our journey to make reading more accessible and enjoyable for everyone. Explore new genres.</p>
        </div>
    </div>
</div>
</div>

<%- include('../partials/footer-pages') %>
<%- include('../partials/bot-pages') %>


<%- include('../partials/scripts') %>

<script src="../javascripts/udemyday5.js" defer></script>
<script src="../javascripts/udemyday40.js" defer></script>


</body>
</html>